  
.lat49ads  {
  position:absolute;
  z-index:99999;
}


#lat49ads_half_banner {
  position:relative;
  height: 60px;
  width: 234px;
}

#lat49ads_button {
  position:relative;
  height: 125px;
  width: 125px;
}

#lat49ads_leaderboard {
  position:relative;
  height: 90px;
  width: 728px;
}

#lat49ads_full_banner {
  position:relative;
  height: 60px;
  width: 468px;
}

#lat49ads_medium_rectangle {
  position:relative;
  height: 250px;
  width: 300px;
}

/*Safari Fix*/

/*\
html*.lat49ads.lower-left,
html*.lat49ads.lower-right {
[margin-top:0;
margin-top:-14px;
]margin-top:-14px;
}/*end*/
.dummyend[id]{clear:both;}
